.recent-mapper{
	border: 1px solid rgba(0, 0, 0, 0.4);
	}
.recent-mapper-title{
	font-size: 30px;
	position: relative;
	left: 5px;
	margin: 5px 0 5px 0;
	}
.recent-mapper-block{
	position: relative;
	left: 50%;
	margin-left: -560px;
	}
.recent-mapper-row{
	position: relative;
	margin-top: 8px;
	margin-bottom: 8px;
	padding: 5px 5px 5px 5px;
	width: 1130px;
	}
.recent-mapper-row-color{
	position: relative;
	margin-top: 8px;
	margin-bottom: 8px;
	background-color: rgba(0,0,0,0.2);
	padding: 5px 5px 5px 5px;
	width: 1130px;
	}
.rm-col-1{
	display: inline-block;	
	width: 300px;
}
.rm-col-2{
	display: inline-block;
}
