body {
	color: #212121;
	font: 16px/1.5 "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
	min-height: 100%;
	margin: 0px 30px;
}

.content {
	position: relative;
	margin-top: 20px;
}

.header {
	margin-top: -15px;
	margin-bottom: -20px;
}
