
.filter {
	margin-bottom: 20px;
	display: inline-block;
}

.username-filter {
	margin-right: 100px;
	display: inline-block;
}

.time-filter {
	margin-right: 40px;
	display: inline-block;
}

.apply-filter {
	display: inline-block;
	border-bottom: 1px solid rgba(214,54,66,0.4);
	padding: 5px;
	cursor: pointer;
}

.apply-filter:hover {
	background-color: rgba(214, 54, 66, 0.4);
}

.input_filter {
	width: 150px;
	height: 30px;
	border-top: 1px solid rgba(0, 0, 0, 0.3);
	border-left: 1px solid rgba(0, 0, 0, 0.3);
	border-right: 1px solid rgba(0, 0, 0, 0.3);
	border-bottom: 1px solid rgba(214,54,66,0.4);
	border-radius: 0px;
	font-size: 14px;
	padding: 0px 9px;
}

.select-time {
	margin-left: 10px;
}
