
.title {
	font-size: 50px;
	display: inline-block;
	cursor: pointer;
}

.title-osm {
	color: #D63642;
}

.title-b {
	color: #D63642;
}

.about {
	display: inline-block;
	float: right;
	margin-left: 20px;
	font-size: 20px;
	border-bottom: 1px solid rgba(214,54,66,0.4);
	cursor: pointer;
	margin-top: 20px;
}

.tour {
	display: inline-block;
	float: right;
	font-size: 20px;
	border-bottom: 1px solid rgba(214,54,66,0.4);
	cursor: pointer;
	margin-top: 20px;
}

