/*
Error: Inconsistent indentation: 1 tab was used for indentation, but the rest of the document was indented using 2 spaces.
        on line 6 of style.css

1: .body {
2:   font-size: 14px;
3:   font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; }
4: 
5: .header {
6: 	font-family: Sans; 
7:  }
8: 
9: .header-text{
10:   font-size: 3em;
11:   margin-bottom: 0.7em;

Backtrace:
style.css:6
/var/lib/gems/1.9.1/gems/sass-3.4.17/lib/sass/engine.rb:483:in `block in tabulate'
/var/lib/gems/1.9.1/gems/sass-3.4.17/lib/sass/engine.rb:441:in `each'
/var/lib/gems/1.9.1/gems/sass-3.4.17/lib/sass/engine.rb:441:in `each_with_index'
/var/lib/gems/1.9.1/gems/sass-3.4.17/lib/sass/engine.rb:441:in `tabulate'
/var/lib/gems/1.9.1/gems/sass-3.4.17/lib/sass/engine.rb:406:in `_to_tree'
/var/lib/gems/1.9.1/gems/sass-3.4.17/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/var/lib/gems/1.9.1/gems/sass-3.4.17/lib/sass/engine.rb:295:in `render_with_sourcemap'
/var/lib/gems/1.9.1/gems/sass-3.4.17/lib/sass/exec/sass_scss.rb:410:in `run'
/var/lib/gems/1.9.1/gems/sass-3.4.17/lib/sass/exec/sass_scss.rb:63:in `process_result'
/var/lib/gems/1.9.1/gems/sass-3.4.17/lib/sass/exec/base.rb:52:in `parse'
/var/lib/gems/1.9.1/gems/sass-3.4.17/lib/sass/exec/base.rb:19:in `parse!'
/var/lib/gems/1.9.1/gems/sass-3.4.17/bin/sass:13:in `<top (required)>'
/usr/local/bin/sass:23:in `load'
/usr/local/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Inconsistent indentation: 1 tab was used for indentation, but the rest of the document was indented using 2 spaces.\A         on line 6 of style.css\A \A 1: .body {\A 2:   font-size: 14px;\A 3:   font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; }\A 4: \A 5: .header {\A 6: 	font-family: Sans; \A 7:  }\A 8: \A 9: .header-text{\A 10:   font-size: 3em;\A 11:   margin-bottom: 0.7em;"; }
