.search-container {
	position: relative;
	display: inline-block;
}

.search {
	display: inline-block;
}

.search-input {
	background: url('../../images/search.svg') no-repeat right;
	background-size: 24px;
	width: 200px;
	height: 30px;
	opacity: 0.6;
	border-top: 1px solid rgba(0, 0, 0, 0.3);
	border-left: 1px solid rgba(0, 0, 0, 0.3);
	border-right: 1px solid rgba(0, 0, 0, 0.3);
	border-bottom: 1px solid rgba(214,54,66,0.4);
	margin-right: 40px;
	font-size: 14px;
	padding: 0px 9px;
}

.search-input:hover {
	opacity: 0.8;
}

.search-btn {
	display: inline-block;
	border-bottom: 1px solid rgba(214,54,66,0.4);
	padding: 5px 5px;
	cursor: pointer;
	margin-right: 150px;
}

.search-btn:hover {
	background-color: rgba(214, 54, 66, 0.4);
}

.search-result {
	position: absolute;
	background-color: white;
	width: 200px;
	max-height: 300px;
	border: 1px solid rgba(214, 54, 66, 0.4);
	overflow: hidden;
	overflow-y: scroll;
	z-index: 2000;
	span {
		display: block;
		padding: 0px 20px;
		border-bottom: 1px solid rgba(214, 54, 66, 0.4);
		&:hover {
			background-color: rgba(214, 54, 66, 0.4);
		}
	}
}

.filter {
	margin-bottom: 20px;
	display: inline-block;
}

.username-filter {
	margin-right: 100px;
	display: inline-block;
}

.time-filter {
	margin-right: 40px;
	display: inline-block;
}

.apply-filter {
	display: inline-block;
	border-bottom: 1px solid rgba(214,54,66,0.4);
	padding: 5px;
	cursor: pointer;
}

.apply-filter:hover {
	background-color: rgba(214, 54, 66, 0.4);
}

.input_filter {
	width: 150px;
	height: 30px;
	border-top: 1px solid rgba(0, 0, 0, 0.3);
	border-left: 1px solid rgba(0, 0, 0, 0.3);
	border-right: 1px solid rgba(0, 0, 0, 0.3);
	border-bottom: 1px solid rgba(214,54,66,0.4);
	border-radius: 0px;
	font-size: 14px;
	padding: 0px 9px;
}

.select-time {
	margin-left: 10px;
}
